.wrap {
  font-family: var(--Montserrat);
  max-width: 100vw;
  min-height: 100vh;
  width: 100%;
  color: var(--color-black);
  position: relative;
  background-color: var(--color-back-light);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.wrap__main{
  overflow: hidden;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
}

.container {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 10rem;
}


.section{
  &__title{
    font: 800 3.4rem/140% var(--Montserrat);
    letter-spacing: -0.034rem;
  }
  &__button{
    background-color: var(--color-primary);
    padding: 1.8rem 2.2rem;
    font: 800 1.4rem/140% var(--Montserrat);
    letter-spacing: -0.014rem;
    position: relative;
    display: inline-block;
    color:var(--color-white);
    transition: 0.2s all ease;
    &:hover{
      transition: 0.2s all ease;
      box-shadow: 0 0 1rem 0 var(--color-primary);
    }

  }
  &__link{
    padding-right: 6.1rem;
    &:after{
      content:'' ;
      position: absolute;
      top: 50%;
      right: 2.2rem;
      transform: translateY(-50%);
      width: 2.4rem;
      height: 2.4rem;
      background: url("../img/Arrow - Right.svg") center/2.4rem 2.4rem no-repeat;

    }
  }
  &__nav{
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1;
    gap:0;
    & > *{
      position: relative;
      top:unset;
      left: unset;
      right: unset;
      margin: 0;
      width: 50%;
      height: 100%;
      background: var(--color-white-opacity);
      &:after{
        content:'' ;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 3.2rem;
        height: 3.2rem;
        background: url("../img/Right.svg") center/3.2rem 3.2rem no-repeat;
        z-index: 2;
      }
    }
    .swiper-button-prev{
      &:after{
        transform: translate(-50%,-50%) rotate(-180deg);
      }
    }
  }
}


.header{
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  &__fixed{
    background-color: var(--color-white);
    .select2-container--default .select2-selection--single .select2-selection__rendered{
      color: var(--color-black);
    }

    .header__menu{
      color:var(--color-menu);
    }
    .header__info-item > h3{
      color: var(--color-black);
    }
    .header__info-icon > *{
      color:  var(--color-black);
    }
  }
  &__mob{
    display: none;
  }
  &__block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:1rem;
  }
  &__logo{
    width: 18.1rem;
    height: 7.5rem;
  }
  &__info{
    display: flex;
    gap:4.8rem;
    align-items: center;
    &-item {
      width: max-content;
      & > h3{
        opacity: 0.6;
        font: 400 1.1rem/180% var(--Roboto);
      }
    }
    &-icon{
      & > *{
        font: 400 1.3rem/170% var(--Roboto);
      }
      position: relative;
      &:after{
        content:'' ;
        position: absolute;
        top: 0;
        left: -2.8rem;
        width: 2rem;
        height: 2rem;
        z-index: 2;
      }
    }
    &-lang:after{
      background: url("../img/Globe.svg") center/2rem 2rem no-repeat;
    }
    &-location:after{
      background: url("../img/Pin.svg") center/2rem 2rem no-repeat;
    }
    &-phone:after{
      background: url("../img/phone.svg") center/2rem 2rem no-repeat;
    }
  }
  &__menu{
    display: flex;
    gap:3rem;

  }
  &__item{
    font: 400 1.4rem/170% var(--Roboto);
    &>*{
      white-space: nowrap;
    }
  }
}


.banner{
  color:var(--color-white);
  position: relative;
  .container{
    padding: 17.5rem 10rem 17.1rem;
  }
  &__slider{
    overflow: hidden;
  }
  &__img{
    position: absolute;
    z-index: -1;
    width: 100vw;
    &:after{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.6;
      background: rgba(0, 0, 0, 0.70);
    }
  }
  &__subtitle{
    letter-spacing: -0.016rem;
    font: 500 1.6rem/140% var(--Roboto);
    margin-bottom: 0.8rem;
  }
  &__title{
    letter-spacing: -0.044rem;;
    font: 800 4.4rem/140% var(--Montserrat);
    margin-bottom: 1.5rem;
    max-width: 60.5rem;
  }
  &__price{
    font: 600 3.2rem/140% var(--Montserrat);
    letter-spacing: -0.032rem;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    mark{
      color:var(--color-white);
      font: 400 1.6rem/140% var(--Montserrat);
      margin-right: 1rem;
      opacity: 0.8;
    }
  }
  .section__button{
    margin-bottom: 3rem;
  }
  &__info{
    display: flex;
    gap:3rem;
    align-items: center;
    &-item{
      display: flex;
      gap:1.2rem;
      align-items: center;
      & > *{
        font: 400 1.6rem/180% var(--Roboto);
      }
    }
    &-img{
      width: 4rem;
      height: 4rem;
    }
  }
  &__nav{
    left: 48%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 1;
    gap:0;
    width: 16.2rem;
    height: 9rem;
  }
  &__social{
    display: flex;
    flex-direction: column;
    gap:2rem;
    position: absolute;
    right: 10rem;
    top:47%;
    transform: translateY(-50%);
    z-index: 2;
    &-img {
      width: 2.4rem;
      height: 2.4rem;
      transition: 0.2s all ease;
      &:hover{
        transition: 0.2s all ease;
        opacity: 1;
        filter: invert(32%) sepia(56%) saturate(5352%) hue-rotate(343deg) brightness(106%) contrast(88%);
      }
      &:last-child{
        width: 2.74rem;
        height: 2.05rem;
      }

    }
  }
  &__elements{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    .container{
      position: relative;
      padding: 0 10rem;
      height: 100%;
    }
  }
  &__pdf{
    display: flex;
    gap:3.7rem;
    align-items: center;
    padding: 4.8rem 3.3rem 3.9rem 28.5rem;
    background-color: var(--color-primary);
    color:var(--color-white);
    position: relative;
    &-wrap{
      position: absolute;
      z-index: 2;
      width: max-content;
      bottom: -8.7rem;
      right: 10rem;
    }
    &-img{
      position: absolute;
      bottom: 0;
      left: 2.4rem;
      width: 25.1rem;
      height: 20.1rem;
    }
    &-button{
      p{
        margin-top:0.3rem ;
         font: 400 1.3rem/170% var(--Roboto);
      }
    }
    &-title{
      max-width: 16.3rem;
      letter-spacing: -0.021rem;
      h3{
        letter-spacing: -0.021rem;
        font: 800 2.1rem/140% var(--Montserrat);
        margin-bottom: 0.9rem;
      }
      h4{
         font: 400 1.3rem/170% var(--Roboto);
      }
    }
  }
}


.preference{
  .container{
    padding: 22.2rem 0 9rem;
    overflow: hidden;
  }
  &__slide{
    display: flex;
    align-items: flex-end;
  }
  &__img{
    height:67rem ;
    width: 65.8%;
  }
  &__desc{
    position: relative;
    max-width: 47rem;
    background-color: var(--color-white);
    padding: 6rem 0 11.3rem 7rem;
    margin-left: -8rem;
  }
  &__timer{
    margin-bottom: 3.7rem;
  }
  &__title{
    font: 800 2.8rem/140% var(--Montserrat);
    letter-spacing: -0.028rem;
    margin-bottom: 2.9rem;
  }
  &__text{
    font: 400 1.6rem/180% var(--Roboto);
    margin-bottom: 3.5rem;
    color:var(--color-text);
    -webkit-line-clamp: 4;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  &__nav{
    width: 14.4rem;
    height: 7.4rem;
    bottom: 0;
    left: -14.4rem;
    & > *{
      background: var(--color-black-opacity);
      transition: 0.2s all ease;
      &:hover{
        transition: 0.2s all ease;
        background: var(--color-primary);
      }
    }
  }
  &__timer{
    @keyframes circletimer{
    0%{
      stroke-dashoffset: 400;
      stroke-dasharray: 400
    }
    100%{
      stroke-dashoffset: 0;
      stroke-dasharray: 400;
    }

    }


  svg{
      background-color: transparent;
      position: relative;

      width: 7.2rem;
      height: 7.2rem;

    }

    .circle{
      stroke: var(--color-primary);
      stroke-width: 4;
      fill: transparent;
      stroke-dashoffset: 400;
      stroke-dasharray: 0;
      animation: 4s circletimer linear;
    }

  }
}



.viewbox {
  width: 50%;
}

#progress {
  stroke-dasharray: 296 296;
  stroke-dashoffset: 296;
  animation: grow 4s ease-out infinite;
}

@keyframes grow {
  100% { stroke-dashoffset: 0; }
}

#pulse {
  stroke-dasharray: 0 0 0 296;
  animation: pulse 1.5s linear infinite;
}

@keyframes pulse {
  33% { stroke-dasharray: 0   0  148 296; }
  66% { stroke-dasharray: 0  50 200 296; }
  100% { stroke-dasharray: 0 296   0 296; }
}


.circleProgress_wrapper {
  position: relative;
  //top: 1rem;
  //left: 6.5rem;
  width: 7.2rem;
  height: 7.2rem;
  //margin: .5rem auto;
  text-align: center;
}
.right {
  right: 0;
}
.left{
  left: 0;
}
.wrapper{
  position: absolute;
  width: 3.6rem;
  height: 7.2rem;
  top: 0;
  overflow: hidden;
}
.circleProgress{
  width: 7.2rem;
  height: 7.2rem;
  border: .4rem solid var(--color-circle);
  border-radius: 50%;
  box-sizing: content-box;
  position: absolute;
  top: 0;
}
.rightcircle{
  border-top: .4rem solid var(--color-primary);
  border-right: .4rem solid var(--color-primary);
  right: 0;
}
.leftcircle{
  border-bottom: .4rem solid var(--color-primary);
  border-left: .4rem solid var(--color-primary);
  left: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}
.right_cartoon {
  -webkit-animation: circleProgressLoad_right 4s linear infinite forwards;
  animation: circleProgressLoad_right 4s linear infinite forwards;
}
.left_cartoon {
  -webkit-animation: circleProgressLoad_left 4s linear infinite forwards;
  animation: circleProgressLoad_left 4s linear infinite forwards
}


@keyframes circleProgressLoad_right {
  0% {
    -webkit-transform: rotate(46deg);
    transform: rotate(46deg)
  }

  50%,to {
    -webkit-transform: rotate(-136deg);
    transform: rotate(-136deg)
  }
}

@keyframes circleProgressLoad_left {
  0%,50% {
    -webkit-transform: rotate(46deg);
    transform: rotate(46deg)
  }

  to {
    -webkit-transform: rotate(-136deg);
    transform: rotate(-136deg)
  }
}










.news{
  .container{
      padding: 3rem 10rem 4rem;
  }
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
  }
  &__all{
    position: relative;
    padding-right: 3.6rem;
    color:var(--color-grey);
    font: 500 1.4rem/170% var(--Roboto);
    &:after{
      position: absolute;
      content: '';
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 2.4rem;
        height: 2.4rem;
      background: url("../img/Arrow-grey.svg") center/2.4rem 2.4rem no-repeat;
    }
  }
  &__list{
    display: flex;
    gap:3rem;
  }
  &__item{
    width: calc((100% - 6rem)/3);
    padding-bottom: 4.9rem;
    position: relative;
  }
  &__img{
    height: 31rem;
    margin-bottom: 3rem;
    display: block;
    position: relative;
    transition: 0.2s all ease;
    cursor: pointer;
    .section__link{
      display: none;
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 3.5rem;
      transition: 0.2s all ease;

    }
    &:hover > .section__link{
      display: block;
      transition: 0.2s all ease;
    }
  }
  &__date{
     font: 400 1.4rem/170% var(--Roboto);
     color:var(--color-grey);
    margin-bottom: 0.8rem;
  }
  &__title{
    font: 800 2rem/140% var(--Montserrat);
    letter-spacing: -0.02rem;
    margin-bottom: 2rem;
  }
  &__text{
    & > *{
      font: 400 1.5rem/180% var(--Roboto);
      -webkit-line-clamp: 3;
      position: relative;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      color:var(--color-text);
    }
  }


  &__link{
    position: absolute;
    bottom: 0;
    left: 0;
    & > *{
      position: relative;
      padding-right: 3.6rem;
      color: var(--color-primary);
      font: 600 1.6rem/140% var(--Montserrat);
      letter-spacing: -0.016rem;

      &:after{
         position: absolute;
         content: '';
           top: 50%;
           right: 0;
           transform: translateY(-50%);
           width: 2.4rem;
           height: 2.4rem;
         background: url("../img/Arrow-red.svg") center/2.4rem 2.4rem no-repeat;
      }
    }
  }
}


.building{
  .container{
    padding: 4rem 0 4.4rem;
    overflow: hidden;
  }
  &__slide{
    display: flex;
    align-items: center;

  }
  &__img{
    height: 70rem ;
    width: 60.5%;
  }
  &__desc{
    max-width: 66.7rem ;
    padding: 12.3rem 7rem 9.1rem;
    position: relative;
    margin-left: -20rem;
    background-color: var(--color-white);
  }
  &__title{
    font: 800 3.4rem/140% var(--Montserrat);
    letter-spacing: -0.034rem;
    margin-bottom: 2.9rem;
  }
  &__text{
    font: 400 1.6rem/180% var(--Roboto);
    margin-bottom: 3.5rem;
    color:var(--color-text);
    -webkit-line-clamp: 3;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  &__nav{
    width: 14.4rem;
    height: 7.4rem;
    top: 0;
    left: 0;
    & > *{
      background: var(--color-black-opacity);
      transition: 0.2s all ease;
      &:hover{
        transition: 0.2s all ease;
        background: var(--color-primary);
      }
    }
  }



}

.gallery{
  .container{
    padding: 4.4rem 10rem 0;
    position: relative;
  }
  .section__title{
    margin-bottom: 4rem;
  }
  &__nav{
    right: 10rem;
    bottom: 0;
    z-index: 2;
    gap:0;
    width: 14.4rem;
    height: 7.4rem;
    & > *{
      background:var(--color-black-opacity);
      &:hover{
        transition: 0.2s all ease;
        background: var(--color-primary);
      }
    }
  }
}


.contact{
  .container{
    padding: 7.4rem 10rem 10rem ;
  }
  &__flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:4.2rem;
  }
  input, textarea{
    display: block;
  }
  label{
    color:var(--color-grey);
    font: 400 1.2rem/160% var(--Roboto);

  }
  &__form{
    display: flex;
    flex-direction: column;
    gap:2rem;
  }
  &__input{
    width: 100%;

    input, textarea{
      margin-top: 1rem;
      width: 100%;
      padding: 1.2rem 1.5rem;
      font: 400 1.4rem/170% var(--Roboto);
      background: var(--color-input);
      color:var(--color-text);
      border: none;
    }
  }
  &__submit{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap:1.5rem;
    p{
      color:#637079;
      font: 400 1.2rem/180% var(--Roboto);
    }
  }
}


.footer{
  color:var(--color-white);
    position: relative;
    //&:after{
    //  content: '';
    //  position: absolute;
    //  width:30%;
    //  height: 100%;
    //  top: 0;
    //  left: 0;
    //  z-index: 1;
    //  background-color: var(--color-footer-top);
    //}
  &__top{
    width: max-content;
    background-color: var(--color-footer-top);
    padding: 1.75rem 16.2rem 1.75rem 0;
  }
  &__wrap{
    background-color: var(--color-footer);
  }
  &__block{
    padding: 6.7rem 10rem 7.1rem 7.6rem ;
    display: flex;
    justify-content: space-between;
    gap:3rem;
    position: relative;
    .footer__title{
      margin-bottom: 2rem;
    }
    //&:after{
    //  content: '';
    //  position: absolute;
    //  width:30%;
    //  height: 100%;
    //  top: 0;
    //  left: 0;
    //  z-index: 1;
    //  background-color: var(--color-footer-top);
    //}
  }
  &__title{
    font: 600 1.6rem/140% var(--Montserrat);
    letter-spacing: -0.016rem;

  }
  &__nav{
    &-menu{
      display: flex;
      flex-direction: column;
      gap:1.2rem;
      a{
        opacity: 0.7;
        font: 400 1.3rem/170% var(--Roboto);
        transition: 0.2s all ease;
        &:hover{
          opacity: 1;
          transition: 0.2s all ease;
        }
      }
    }
  }
  &__news{
    &-menu{
      display: flex;
      flex-direction: column;
      gap:1.5rem;
      h4{
        font: 400 1.2rem/160% var(--Roboto);
        margin-bottom: 2px;
        color:var(--color-grey);
      }
      a{
        font: 400 1.3rem/170% var(--Roboto);
        opacity: 0.7;
        transition: 0.2s all ease;
        &:hover{
          opacity: 1;
          transition: 0.2s all ease;
        }
      }
    }
  }
  &__contact{
    &-menu{
      display: flex;
      gap:0.8rem;
      flex-direction: column;
      margin-bottom: 1rem;
      & > *{
        position: relative;
        padding-left: 2.6rem;
        font: 400 1.3rem/170% var(--Roboto);
        opacity: 0.7;
        &:after{
          content: '';
          position: absolute;
          width: 1.8rem;
          height: 1.8rem;
          top: 0;
          left: 0;
        }
      }
      & > a:hover{
        opacity: 1;
        transition: 0.2s all ease;
      }
    }
    &-loc:after{
      background: url("../img/Pin-footer.svg") center/1.8rem 1.8rem no-repeat;
    }
    &-phone:after{
      background: url("../img/Phone-footer.svg") center/1.8rem 1.8rem no-repeat;
    }
    &-email:after{
      background: url("../img/Email-footer.svg") center/1.8rem 1.8rem no-repeat;
    }
    &-time:after{
      background: url("../img/Time-footer.svg") center/1.8rem 1.8rem no-repeat;
    }
  }
  &__social{
    display: flex;
    gap:1.2rem;
    &-title{
      font: 700 1.3rem/150% var(--Roboto);
      margin-bottom: 1.2rem;
    }
    & > * {
      position: relative;
      width: 1.8rem;
      height: 1.8rem;
      transition: 0.2s all ease;
      &:hover {
        filter: brightness(0) invert(1);
        transition: 0.2s all ease;

      }
      &:after {
        content: '';
        position: absolute;
        width: 1.8rem;
        height: 1.8rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
    &-youtube:after{
        background: url("../img/yt.svg") center/1.8rem 1.8rem no-repeat;
    }
    &-facebook:after{
      background: url("../img/fb.svg") center/1.8rem 1.8rem no-repeat;
    }
    &-insta:after{
      background: url("../img/ints.svg") center/1.8rem 1.8rem no-repeat;
    }

  }
  &__info{
    max-width: 22.5%;
    &-text{
      opacity: 0.5;
      display: flex;
      flex-direction: column;
      gap:1.5rem;
      p{
        font: 400 1.2rem/160% var(--Roboto);
      }

    }
  }

}



.select2     {
  width: 3.7rem!important;
}
.select2-container--default .select2-selection--single {
  background: transparent;
  border: none;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
  color:var(--color-white);
  font:400 1.3rem/170% var(--Roboto);
}
.select2-selection__arrow{
  display: none ;
}
.select2-search{
  display: none;
}
.select2-container .select2-selection--single .select2-selection__rendered{
  padding: 0;
}
.select2-container .select2-selection--single .select2-selection__rendered{
  height: auto;
}
.select2-container .select2-selection--single{
  height: auto;
}
@media only screen and (max-width: 1380px) {
  .header__menu {
    gap: 2rem;
  }
}

