.wrap {
  font-family: var(--Montserrat);
  max-width: 100vw;
  min-height: 100vh;
  width: 100%;
  color: var(--color-black);
  position: relative;
  background-color: var(--color-back-light);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.wrap__main{
  overflow: hidden;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
}

.container {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 10rem;
}


.section{
  &__title{
    font: 800 3.4rem/140% var(--Montserrat);
    letter-spacing: -0.034rem;
  }
  &__button{
    background-color: var(--color-primary);
    padding: 1.8rem 2.2rem;
    font: 800 1.4rem/140% var(--Montserrat);
    letter-spacing: -0.014rem;
    position: relative;
    display: inline-block;
    color:var(--color-white);
    transition: 0.2s all ease;
    &:hover{
      transition: 0.2s all ease;
      box-shadow: 0 0 1rem 0 var(--color-primary);
    }

  }
  &__link{
    padding-right: 6.1rem;
    &:after{
      content:'' ;
      position: absolute;
      top: 50%;
      right: 2.2rem;
      transform: translateY(-50%);
      width: 2.4rem;
      height: 2.4rem;
      background: url("../img/Arrow - Right.svg") center/2.4rem 2.4rem no-repeat;

    }
  }
  &__nav{
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1;
    gap:0;
    & > *{
      position: relative;
      top:unset;
      left: unset;
      right: unset;
      margin: 0;
      width: 50%;
      height: 100%;
      background-color: var(--color-white-opacity);
      &:after{
        content:'' ;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 3.2rem;
        height: 3.2rem;
        background: url("../img/Right.svg") center/3.2rem 3.2rem no-repeat;
        z-index: 2;
      }
    }
    .swiper-button-prev{
      &:after{
        transform: translate(-50%,-50%) rotate(-180deg);
      }
    }
  }
}


.header{
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  &__fixed{
    background-color: var(--color-white);
    .select2-container--default .select2-selection--single .select2-selection__rendered{
      color: var(--color-black);
    }
    .header__menu{
      color:var(--color-menu);
    }
    .header__info-item > h3{
      color: var(--color-black);
    }
    .header__info-icon > *{
      color:  var(--color-black);
    }
    .header__item{
      opacity: 1;
      color: var(--color-menu);
      &:hover{
        color: var(--color-black);
      }
    }
  }
  &__burger{
    display: none;
  }
  &__block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:1rem;
  }
  &__logo{
    width: 18.1rem;
    height: 7.5rem;
    display: block;
  }
  &__info{
    display: flex;
    gap:4.8rem;
    align-items: center;
    &-item {
      width: max-content;
      & > h3{
        opacity: 0.6;
        font: 400 1.1rem/180% var(--Roboto);
        & > a{
          text-decoration: underline;
        }
      }

    }
    &-icon{
      & > *{
        font: 400 1.3rem/170% var(--Roboto);
      }
      position: relative;
      &:after{
        content:'' ;
        position: absolute;
        top: 0;
        left: -2.8rem;
        width: 2rem;
        height: 2rem;
        z-index: 2;
      }
    }
    &-phone{
      & > *{
        font-weight: 500;
      }
    }
    &-lang:after{
      background: url("../img/Globe.svg") center/2rem 2rem no-repeat;
    }
    &-location:after{
      background: url("../img/Pin.svg") center/2rem 2rem no-repeat;
    }
    &-phone:after{
      background: url("../img/phone.svg") center/2rem 2rem no-repeat;
    }

  }
  &__menu{
    display: flex;
    gap:3rem;
    margin-left: -6rem;
  }
  &__item{

    opacity: 0.7;
    transition: 0.2s all ease;
    &:hover{
      opacity: 1;
      transition: 0.2s all ease;
    }
    &>*{
      font: 400 1.4rem/170% var(--Roboto);
      white-space: nowrap;
    }
  }
}


.banner{
  color:var(--color-white);
  position: relative;
  .container{
    padding: 17.5rem 10rem 17.1rem;
  }
  &__slider{
    overflow: hidden;
  }
  &__img{
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100%;
    &:after{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.6;
      background-color: rgba(0, 0, 0, 0.70);
    }
  }
  &__subtitle{
    letter-spacing: -0.016rem;
    font: 500 1.6rem/140% var(--Roboto);
    margin-bottom: 0.8rem;
  }
  &__title{
    letter-spacing: -0.044rem;;
    font: 800 4.4rem/140% var(--Montserrat);
    margin-bottom: 1.5rem;
    max-width: 60.5rem;
  }
  &__price{
    font: 600 3.2rem/140% var(--Montserrat);
    letter-spacing: -0.032rem;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    mark{
      color:var(--color-white);
      font: 400 1.6rem/140% var(--Montserrat);
      margin-right: 1rem;
      opacity: 0.8;
    }
  }
  .section__button{
    margin-bottom: 3rem;
  }
  &__info{
    display: flex;
    gap:3rem;
    align-items: center;
    &-item{
      display: flex;
      gap:1.2rem;
      align-items: center;
      & > *{
        font: 400 1.6rem/180% var(--Roboto);
      }
    }
    &-img{
      width: 4rem;
      height: 4rem;
    }
  }
  &__nav{
    left: 48%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 1;
    gap:0;
    width: 16.2rem;
    height: 9rem;
  }
  &__social{
    display: flex;
    flex-direction: column;
    gap:2rem;
    position: absolute;
    right: 10rem;
    top:47%;
    transform: translateY(-50%);
    z-index: 2;
    &-img {
      width: 2.4rem;
      height: 2.4rem;
      transition: 0.2s all ease;
      &:hover{
        transition: 0.2s all ease;
        opacity: 1;
        filter: invert(32%) sepia(56%) saturate(5352%) hue-rotate(343deg) brightness(106%) contrast(88%);
      }
      &:last-child{
        width: 2.74rem;
        height: 2.05rem;
      }

    }
  }
  &__elements{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    .container{
      position: relative;
      padding: 0 10rem;
      height: 100%;
    }
  }
  &__pdf{
    display: flex;
    gap:3.7rem;
    align-items: center;
    padding: 4.8rem 3.3rem 3.9rem 28.5rem;
    background-color: var(--color-primary);
    color:var(--color-white);
    position: relative;
    &-wrap{
      position: absolute;
      z-index: 2;
      width: max-content;
      bottom: -8.7rem;
      right: 10rem;
    }
    &-img{
      position: absolute;
      bottom: 0;
      left: 2.4rem;
      width: 25.1rem;
      height: 20.1rem;
    }
    &-button{
      p{
        margin-top:0.3rem ;
         font: 400 1.3rem/170% var(--Roboto);
      }
    }
    &-title{
      max-width: 16.3rem;
      letter-spacing: -0.021rem;
      h3{
        letter-spacing: -0.021rem;
        font: 800 2.1rem/140% var(--Montserrat);
        margin-bottom: 0.9rem;
      }
      h4{
         font: 400 1.3rem/170% var(--Roboto);
      }
    }
  }
}


.preference{
  .container{
    padding: 22.2rem 0 9rem;
    overflow: hidden;
  }
  &__slide{
    display: flex;
    align-items: flex-end;
  }
  &__img{
    height:67rem ;
    width: 65.8%;
  }
  &__desc{
    position: relative;
    max-width: 47rem;
    background-color: var(--color-white);
    padding: 6rem 0 11.3rem 7rem;
    margin-left: -8rem;
  }
  &__timer{
    margin-bottom: 3.7rem;
  }
  &__title{
    font: 800 2.8rem/140% var(--Montserrat);
    letter-spacing: -0.028rem;
    margin-bottom: 2.9rem;
  }
  &__text{
    font: 400 1.6rem/180% var(--Roboto);
    margin-bottom: 3.5rem;
    color:var(--color-text);
    -webkit-line-clamp: 4;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  &__nav{
    width: 14.4rem;
    height: 7.4rem;
    bottom: 0;
    left: -14.4rem;
    & > *{
      background-color: var(--color-black-opacity);
      transition: 0.2s all ease;
      &:hover{
        transition: 0.2s all ease;
        background-color: var(--color-primary);
      }
    }
  }
  &__timer{
    @keyframes circletimer{
    0%{
      stroke-dashoffset: 400;
      stroke-dasharray: 400
    }
    100%{
      stroke-dashoffset: 0;
      stroke-dasharray: 400;
    }

    }


  svg{
      background-color: transparent;
      position: relative;

      width: 7.2rem;
      height: 7.2rem;

    }

    .circle{
      stroke: var(--color-primary);
      stroke-width: 4;
      fill: transparent;
      stroke-dashoffset: 400;
      stroke-dasharray: 0;
      animation: 4s circletimer linear;
    }

  }
}



.viewbox {
  width: 50%;
}

#progress {
  stroke-dasharray: 296 296;
  stroke-dashoffset: 296;
  animation: grow 4s ease-out infinite;
}

@keyframes grow {
  100% { stroke-dashoffset: 0; }
}

#pulse {
  stroke-dasharray: 0 0 0 296;
  animation: pulse 1.5s linear infinite;
}

@keyframes pulse {
  33% { stroke-dasharray: 0   0  148 296; }
  66% { stroke-dasharray: 0  50 200 296; }
  100% { stroke-dasharray: 0 296   0 296; }
}


.circleProgress_wrapper {
  position: relative;
  //top: 1rem;
  //left: 6.5rem;
  width: 7.2rem;
  height: 7.2rem;
  //margin: .5rem auto;
  text-align: center;
}
.right {
  right: 0;
}
.left{
  left: 0;
}
.wrapper{
  position: absolute;
  width: 3.6rem;
  height: 7.2rem;
  top: 0;
  overflow: hidden;
}
.circleProgress{
  width: 7.2rem;
  height: 7.2rem;
  border: .4rem solid var(--color-circle);
  border-radius: 50%;
  box-sizing: content-box;
  position: absolute;
  top: 0;
}
.rightcircle{
  border-top: .4rem solid var(--color-primary);
  border-right: .4rem solid var(--color-primary);
  right: 0;
}
.leftcircle{
  border-bottom: .4rem solid var(--color-primary);
  border-left: .4rem solid var(--color-primary);
  left: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}
.right_cartoon {
  -webkit-animation: circleProgressLoad_right 4s linear infinite forwards;
  animation: circleProgressLoad_right 4s linear infinite forwards;
}
.left_cartoon {
  -webkit-animation: circleProgressLoad_left 4s linear infinite forwards;
  animation: circleProgressLoad_left 4s linear infinite forwards
}


@keyframes circleProgressLoad_right {
  0% {
    -webkit-transform: rotate(46deg);
    transform: rotate(46deg)
  }

  50%,to {
    -webkit-transform: rotate(-136deg);
    transform: rotate(-136deg)
  }
}

@keyframes circleProgressLoad_left {
  0%,50% {
    -webkit-transform: rotate(46deg);
    transform: rotate(46deg)
  }

  to {
    -webkit-transform: rotate(-136deg);
    transform: rotate(-136deg)
  }
}









.plan{
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .container{
    padding: 0 10rem 6rem;
  }
  &__subtitle{
    font: 400 1.6rem/180% var(--Roboto);
    margin-top: 2rem;
  }
  &__header{
    margin-bottom: 2rem;
  }
  &__filter{
    display: flex;
    gap:3rem;

    &-title{
      font: 400 1.4rem/170% var(--Roboto);
    }
    &-item{
      display: flex;
      flex-direction: column;
      gap:0.8rem;
    }
    &-block{
      display: flex;
      & > *{
        width: 3.8rem;
        text-align: center;
        padding: 1rem 0;
        position: relative;
        font: 400 1.3rem/170% var(--Roboto);
        &:after{
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          top:50%;
          left: 50%;
          transform: translate(-50%,-50%);
          border: 0.1rem solid var(--color-input);
        }
        &:hover{
          background-color: var(--color-input);
        }
        &.active{
          background-color: var(--color-primary);
          color:var(--color-white);
          &:after{
            border: 0.1rem solid var(--color-primary);
          }
        }

      }
    }
  }
  &__flex{
    display: flex;
    gap:2rem;
    & > *{
      width: calc(50% - 1rem);
    }
    & > *:last-child{
      font: 400 1.4rem/170% "Roboto" ;
      text-align: left;
    }
    button{
      color:var(--color-primary);

    }
  }
  &__block{
    display: flex;
    flex-direction: column;
    gap:0.9rem;
  }
}

.news{
  .container{
      padding: 0 10rem 4rem;
  }
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
  }
  &__all{
    position: relative;
    padding-right: 3.6rem;
    color:var(--color-grey);
    font: 500 1.4rem/170% var(--Roboto);
    &:after{
      position: absolute;
      content: '';
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 2.4rem;
        height: 2.4rem;
      background: url("../img/Arrow-grey.svg") center/2.4rem 2.4rem no-repeat;
    }
  }
  &__list{
    display: flex;
    gap:3rem;
  }
  &__item{
    width: calc((100% - 6rem)/3);
    padding-bottom: 4.9rem;
    position: relative;
  }
  &__img{
    height: 31rem;
    margin-bottom: 3rem;
    display: block;
    position: relative;
    transition: 0.2s all ease;
    cursor: pointer;
    .section__link{
      display: none;
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 3.5rem;
      transition: 0.2s all ease;

    }
    &:hover > .section__link{
      display: block;
      transition: 0.2s all ease;
    }
  }
  &__date{
     font: 400 1.4rem/170% var(--Roboto);
     color:var(--color-grey);
    margin-bottom: 0.8rem;
  }
  &__title{
    font: 800 2rem/140% var(--Montserrat);
    letter-spacing: -0.02rem;
    margin-bottom: 2rem;
  }
  &__text{
    & > *{
      font: 400 1.5rem/180% var(--Roboto);
      -webkit-line-clamp: 3;
      position: relative;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      color:var(--color-text);
    }
  }


  &__link{
    position: absolute;
    bottom: 0;
    left: 0;
    & > *{
      position: relative;
      padding-right: 3.6rem;
      color: var(--color-primary);
      font: 600 1.6rem/140% var(--Montserrat);
      letter-spacing: -0.016rem;

      &:after{
         position: absolute;
         content: '';
           top: 50%;
           right: 0;
           transform: translateY(-50%);
           width: 2.4rem;
           height: 2.4rem;
         background: url("../img/Arrow-red.svg") center/2.4rem 2.4rem no-repeat;
      }
    }
  }
}



.building{
  .container{
    padding: 4rem 0 4.4rem;
    overflow: hidden;
  }
  &__slide{
    display: flex;
    align-items: center;

  }
  &__img{
    height: 70rem ;
    width: 60.5%;
  }
  &__desc{
    max-width: 66.7rem ;
    padding: 12.3rem 7rem 9.1rem;
    position: relative;
    margin-left: -20rem;
    background-color: var(--color-white);
  }
  &__title{
    font: 800 3.4rem/140% var(--Montserrat);
    letter-spacing: -0.034rem;
    margin-bottom: 2.9rem;
  }
  &__text{
    font: 400 1.6rem/180% var(--Roboto);
    margin-bottom: 3.5rem;
    color:var(--color-text);
    -webkit-line-clamp: 3;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  &__nav{
    width: 14.4rem;
    height: 7.4rem;
    top: 0;
    left: 0;
    & > *{
      background-color: var(--color-black-opacity);
      transition: 0.2s all ease;
      &:hover{
        transition: 0.2s all ease;
        background-color: var(--color-primary);
      }
    }
  }



}

.gallery{
  .container{
    padding: 4.4rem 10rem 0;
    position: relative;
  }
  .section__title{
    margin-bottom: 4rem;
  }
  &__nav{
    right: 10rem;
    bottom: 0;
    z-index: 2;
    gap:0;
    width: 14.4rem;
    height: 7.4rem;
    & > *{
      background-color:var(--color-black-opacity);
      &:hover{
        transition: 0.2s all ease;
        background-color: var(--color-primary);
      }
    }
  }
  &__img{
    height: 65.5rem ;
  }
}


.contact{
  .container{
    padding: 7.4rem 10rem 10rem ;
  }
  &__flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:4.2rem;
  }
  input, textarea{
    display: block;
  }
  label{
    color:var(--color-grey);
    font: 400 1.2rem/160% var(--Roboto);

  }
  &__form{
    display: flex;
    flex-direction: column;
    gap:2rem;
    margin-top: 2rem;
  }

  &__input{
    width: 100%;
    position: relative;


    input, textarea{
      margin-top: 1rem;
      width: 100%;
      padding: 1.2rem 1.5rem;
      font: 400 1.4rem/170% var(--Roboto);
      background-color: var(--color-input);
      color:var(--color-text);
      border: none;
    }
  }
  &__input input{
    padding: 1.2rem 3.4rem 1.2rem 1.5rem;
  }

  &__submit{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap:1.5rem;
    p{
      color:#637079;
      font: 400 1.2rem/180% var(--Roboto);
    }
  }
  textarea{
    max-height: 10rem;
    height: 10rem;
  }
  &__phone{
    position: relative;
    input{
      padding-left: 3.4rem;
    }
    &:before{
      content: '';
      position: absolute;
      bottom: 1.8rem;
      left: 1.2rem;
      width: 1.4rem;
      height: 1.4rem;
      background: url("../img/ukraine.png") center/1.4rem 1.4rem no-repeat;
    }
  }
}


.footer{
  color:var(--color-white);
  position: relative;
  background-color: var(--color-footer-back);
    //&:after{
    //  content: '';
    //  position: absolute;
    //  width:30%;
    //  height: 100%;
    //  top: 0;
    //  left: 0;
    //  z-index: 1;
    //  background-color: var(--color-footer-top);
    //}
  &__top-wrap{
    width: max-content;
    background-color: var(--color-footer-back);
    padding: 1.75rem 16.2rem 1.75rem 0;
  }
  &__wrap{
    background-color: var(--color-footer-top);
    .container{
      background-color: var(--color-footer);
    }
  }
  &__block{
    padding: 6.7rem 10rem 7.1rem 7.6rem ;
    display: grid;
    grid-template-columns: 17% 37% 25% 21%; ;
    grid-gap: 3rem;

    position: relative;
    //& > *{
    //  &:first-child{
    //    flex: 20%;
    //
    //  }
    //  &:nth-child(2){
    //    flex: 30%;
    //
    //  }
    //  &:nth-child(3){
    //    flex: 30%;
    //    margin-left: 20rem;
    //
    //  }
    //  &:nth-child(4){
    //    flex: 22.5%;
    //
    //  }
    //}
    .footer__title{
      margin-bottom: 2rem;
    }
    //&:after{
    //  content: '';
    //  position: absolute;
    //  width:30%;
    //  height: 100%;
    //  top: 0;
    //  left: 0;
    //  z-index: 1;
    //  background-color: var(--color-footer-top);
    //}
  }
  &__flex{
    display: flex;
    gap:1rem
  }
  &__title{
    font: 600 1.6rem/140% var(--Montserrat);
    letter-spacing: -0.016rem;
    margin-bottom: 0.6rem;
  }
  &__subtitle{
    font: 400 1.3rem/170% var(--Roboto);
    opacity: 0.76;
  }
  &__nav{
    &-menu{
      display: flex;
      flex-direction: column;
      gap:1.2rem;
      a{
        opacity: 0.7;
        font: 400 1.3rem/170% var(--Roboto);
        transition: 0.2s all ease;
        &:hover{
          opacity: 1;
          transition: 0.2s all ease;
        }
      }
    }
  }
  &__news{
    &-menu{
      display: flex;
      flex-direction: column;
      gap:1.5rem;
      h4{
        font: 400 1.2rem/160% var(--Roboto);
        margin-bottom: 0.2rem;
        color:var(--color-grey);
      }
      a{
        font: 400 1.3rem/170% var(--Roboto);
        opacity: 0.7;
        transition: 0.2s all ease;
        &:hover{
          opacity: 1;
          transition: 0.2s all ease;
        }
      }
    }
  }
  &__contact{
    &-menu{
      display: flex;
      gap:0.8rem;
      flex-direction: column;
      margin-bottom: 1rem;
      & > *{
        position: relative;
        padding-left: 2.6rem;
        font: 400 1.3rem/170% var(--Roboto);
        opacity: 0.7;
        &:after{
          content: '';
          position: absolute;
          width: 1.8rem;
          height: 1.8rem;
          top: 0;
          left: 0;
        }
      }
      & > a:hover{
        opacity: 1;
        transition: 0.2s all ease;
      }
    }
    &-loc:after{
      background: url("../img/Pin-footer.svg") center/1.8rem 1.8rem no-repeat;
    }
    &-phone:after{
      background: url("../img/Phone-footer.svg") center/1.8rem 1.8rem no-repeat;
    }
    &-email:after{
      background: url("../img/Email-footer.svg") center/1.8rem 1.8rem no-repeat;
    }
    &-time:after{
      background: url("../img/Time-footer.svg") center/1.8rem 1.8rem no-repeat;
    }
  }
  &__social{
    display: flex;
    gap:1.2rem;
    &-title{
      font: 700 1.3rem/150% var(--Roboto);
      margin-bottom: 1.2rem;
    }
    & > * {
      position: relative;
      width: 1.8rem;
      height: 1.8rem;
      transition: 0.2s all ease;
      &:hover {
        filter: brightness(0) invert(1);
        transition: 0.2s all ease;

      }
      &:after {
        content: '';
        position: absolute;
        width: 1.8rem;
        height: 1.8rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
    &-youtube:after{
        background: url("../img/yt.svg") center/1.8rem 1.8rem no-repeat;
    }
    &-facebook:after{
      background: url("../img/fb.svg") center/1.8rem 1.8rem no-repeat;
    }
    &-insta:after{
      background: url("../img/ints.svg") center/1.8rem 1.8rem no-repeat;
    }

  }
  &__info{
    &-text{
      opacity: 0.5;
      display: flex;
      flex-direction: column;
      gap:1.5rem;
      p{
        font: 400 1.2rem/160% var(--Roboto);
      }

    }
  }

}

label.error{
  position: absolute;
  color:var(--color-error);
  right: 0;
  &:after{
    content:'' ;
    position: absolute;
    bottom: 2.2rem;
    right: 1.5rem;
    transform: translateY(-50%);
    width: 1.9rem;
    height: 1.9rem;
    background: url("../img/Alert.svg") center/1.9rem 1.9rem no-repeat;

  }

}

.select2     {
  width: 3.7rem!important;
}
.select2-container--default .select2-selection--single {
  background-color: transparent;
  border: none;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
  color:var(--color-white);
  font:400 1.3rem/170% var(--Roboto);
}
.select2-selection__arrow{
  display: none ;
}
.select2-search{
  display: none;
}
.select2-container .select2-selection--single .select2-selection__rendered{
  padding: 0;
}
.select2-container .select2-selection--single .select2-selection__rendered{
  height: auto;
}
.select2-container .select2-selection--single{
  height: auto;
}
@media only screen and (max-width: 1439px) {
  .news__img{
    height: 21.6vw;
  }
  .header__menu{
   gap:2rem;
   margin-left: -3rem;
  }
}

@media only screen and (max-width: 1380px) {
  .header__menu {
    gap: 1.5rem;
  }
  .header__info{
    gap:3.5rem
  }
  .header__logo{
    width: 16rem;
    height: auto;
  }
}


@media only screen and (max-width: 980px) {
  .header__logo{
    width: 15rem;
  }
}


@media only screen and (max-width: 800px) {
  .header__menu {
    gap: 2rem;
  }
  .wrap .container{
    padding: 1.6rem 3rem;
  }
  .footer__block{
    padding: 4rem 3rem 3rem;
    display: flex;
    gap: 6.6rem;
    row-gap: 4rem;
    flex-wrap: wrap;
    background-color: var(--color-footer);
    & > *:nth-child(odd){
      width: 40%;
    }
    & > *:nth-child(even){
      width: calc(60% - 6.6rem);
    }
  }
  .footer__top-wrap{
    padding: 0;
  }
  .footer__wrap .container{
    padding: 0 0 0 3rem;
    background-color: var(--color-footer-back);
  }
  .footer__info-text{
    max-width: 23rem ;
  }
  .contact__flex{
    flex-direction: column;
  }
  .contact__form{
    max-width: 39.3rem;
  }
  .contact__block{
    margin-top: 4.8rem;

  }
  .contact .container{
    padding: 1.6rem 3rem 0;
  }
  .contact__map{
    display: block;
  }
  .gallery__nav{
    display: none;
  }
  .gallery .section__title{
    margin-bottom: 2rem;
  }
  .gallery__slider{
    width: 92%;
    margin: 0 auto;
  }
  .gallery__img{
    height: 46rem;
  }
  .building__desc{
    background-color: transparent;
    margin: 0 ;
    padding: 10rem 6rem 2.5rem;
    z-index: 2;
    position: relative;
    max-width: 100%;
    color:var(--color-white);
    height:46rem ;

  }
  .building__text{
    color:var(--color-white)
  }
  .building__nav{
    display: none;
  }
  .building__slide{
    position: relative;
  }
  .building__img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      //z-index:1;
      background-color: rgba(0, 0, 0, 0.50);
    }
  }
  .building .container{
    padding: 1.6rem 0;
  }
  .building__slider{
    height: 45rem;
  }
  .news__item:last-child{
    display: none;
  }
  .news__item{
    width: calc(50% - 1.5rem);
    padding-bottom: 4.2rem;
  }
  .news__img {
    height: 38.8vw;
    margin-bottom: 2rem;
  }

  .header__menu{
    display: none;
  }
  .header{
    background-color: var(--color-white);
  }
  .header{
    background-color: var(--color-white);
    .select2-container--default .select2-selection--single .select2-selection__rendered{
      color: var(--color-black);
    }
    .header__menu{
      color:var(--color-menu);
    }
    .header__info-item > h3{
      color: var(--color-black);
    }
    .header__info-icon > *{
      color:  var(--color-black);
    }
    .header__item{
      opacity: 1;
      color: var(--color-menu);
      &:hover{
        color: var(--color-black);
      }
    }
  }
  .header .container{
    padding: 0.5rem 3rem;
  }
  .header__mob{
    display: flex;
    align-items: center;
    gap:1.2rem;
  }
  .header__burger{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    width: 3.2rem;
    height: 3.2rem;
    justify-content: center;
    align-items: center;
    & > * {
      width: 2.5rem;
      height: 0.2rem;
      background-color: var(--color-black);
      border-radius: 0.15rem;
    }
  }
  .header__logo{
    width: 18.1rem;
  }
  .header__info-lang:after{
    display: none
  }
  .header__info{
    gap:4.8rem;
  }
  .header{
    //margin-bottom: 8.5rem;
  }
  .wrap__main{
    padding-top: 8.5rem;
  }
  .header__burger{
    transition: .2s ease;
  }
  .header__burger-open{
    span{
      display: block;
      position: absolute;
      top: 50%;
      margin: 0;
      transition: .2s ease;
      &:nth-child(1){
        transform: rotate(-45deg);
      }
      &:nth-child(2){
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        display: none;
      }
    }
  }
  .header .container{
    position: relative;
  }
  .header__menu-show{
    position: absolute;
    top: 8.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-white);
    width: 100vw;
    height: 100vh;
  }
  .header__menu-show .header__menu{
    padding: 15rem 0 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__menu{
    margin-left: 0;
    gap:3rem;
  }
  .header__item > *{
    font-size: 2.6rem;
    letter-spacing: -0.26px;
    color:var(--color-black);
    font-weight: 700;
  }
  .header__menu-show .header__item{
    opacity: 0.7;
  }
  .banner .container{
    padding: 9rem 3.5rem 17.1rem;
  }
  .banner__social{
    right: 3.5rem;
    top:39%;
  }
  .banner__pdf{
    width: calc(100vw - 6rem);
    margin: 0 auto;
    padding: 5rem 4rem ;
    justify-content: flex-end;
    gap:5vw;
  }
  .banner__pdf-wrap{
    right: unset;
    left: 50%;
    transform: translateX(-50%);
  }
  .banner__pdf-img{
    width: 30vw;
    height: auto;
  }
  .banner__pdf-title{
    max-width: 100%;
  }
}


@media only screen and (max-width: 666px){
  .news__item{
    display: none;
  }
  .news__item:nth-child(1){
    display: block;
    width: 100%;
  }
  .news__img{
    height: 82.6vw;
  }
  .wrap .container{
    padding: 3rem 2.5rem;
  }
  .section__title{
    font-size: 3rem;
  }
  .building .container{
    padding: 3rem 0;
  }
  .building__desc{
    padding: 8rem 3.5rem 2.5rem;
  }
  .building__title{
    font-size: 2.6rem;
  }
  .building__desc{
    height: 152vw;
  }
  .building__slider{
    height: 152vw;
  }
  .gallery__slider{
    margin: 0 -3rem;
  }
  .gallery__slider{
    width: 100%;
  }
  .gallery__img{
    height: 68vw;
  }
  .header .container{
    padding: 2.1rem 2.5rem 2.2rem;
    height: 100%;
  }
  .header__block .header__info{
    display: none;
  }
  .header__logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:0;
  }
  .header__menu-show{
    top:7.5rem;
  }
  .banner .container{
    padding: 10rem 2.5rem 16rem;
  }
  .banner__pdf{
    flex-direction: column;
    padding: 18rem 2.5rem 2.5rem;
  }
  .banner__pdf-wrap{
    position: relative;
    left: unset;
    bottom: unset;
    transform: unset;
    width: 100%;
  }
  .banner__pdf{
    width: 100%;
    gap:1.5rem
  }
  .banner__pdf-img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 32.5rem;
    bottom: unset;
    top:-8rem
  }
  .banner__pdf-title > *{
    text-align: center;
  }
  .banner__pdf-button{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
  .banner__pdf-button p{
    margin: 0;
  }
  .banner__info{
    flex-direction: column;
    align-items: flex-start;
  }
  .banner .banner__social{
    display: none;
  }
  .banner__elements {
    display: none;
  }
  .banner__slider{
    height: 100%;
  }
  .gallery .container{
    padding: 3rem 0;
  }
}
