<!-- HEADER -->
<header class="header">
    <div class="container">
        <div class="header__block">
            <div class="header__mob">
                <div class="header__burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <a href="" class="header__logo img">
                <img src="../img/logo-box.png" alt="">
            </a>
            <ul class="header__menu">
                <li class="header__item">
                    <a href="">Головна</a>
                </li>
                <li class="header__item">
                    <a href="">Про комплекс</a>
                </li>
                <li class="header__item">
                    <a href="">Розташування</a>
                </li>
                <li class="header__item">
                    <a href="">Планування</a>
                </li>
                <li class="header__item">
                    <a href="">Новини</a>
                </li>
            </ul>
            <div class="header__info">
                <div class="header__info-item">
                    <h3>Мова</h3>
                    <div class="header__info-icon header__info-lang">
                        <select name="" id="header__select">
                            <option>UKR</option>
                            <option>ENG</option>
                        </select>
                    </div>
                </div>
                <div class="header__info-item">
                    <h3>Адреса <a href="">Як проїхати?</a></h3>
                    <div class="header__info-icon header__info-location">
                        <h3>с.Крюковщина 191, Київська область</h3>
                    </div>
                </div>
                <div class="header__info-item">
                    <h3>Телефон  09:00 - 19:00</h3>
                    <div class="header__info-icon header__info-phone">
                        <a href="tel:+380992337999">+380 (99) 2337 999</a>
                    </div>
                </div>



            </div>
        </div>
    </div>

</header>
<!-- /HEADER -->

